<link rel="stylesheet" type="text/css" href="/public/styles/flexslider.css">

<script src="/public/scripts/vendor/jquery/flexslider.js" type="text/javascript"></script>

<div id="aboutus">
    <div class="container">
        <div class="section_header">
            <h3>About Us</h3>
        </div>
        <div class="row">
            <div class="col-sm-6 intro">
                <h6>We are really cool guys, you need to get know us.</h6>
                <p>We cannot explain how important is it</p>
            </div>
            <div class="col-sm-6">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
                            <img src="/public/images/portfolio1.png">
                        </li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; opacity: 0.5104712099416786;" class="">
                            <img src="/public/images/portfolio2.png">
                        </li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; opacity: 0.48952879005832145;" class="flex-active-slide">
                            <img src="/public/images/portfolio3.png">
                        </li>
                    </ul>
                    <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="http://cleancanvas.herokuapp.com/about-us.html#">Previous</a></li><li><a class="flex-next" href="http://cleancanvas.herokuapp.com/about-us.html#">Next</a></li></ul></div>
            </div>
        </div>
    </div>
</div>


<div id="process">
    <div class="container">
        <div class="section_header">
            <h3>Our Idea</h3>
        </div>
        <div class="row services_circles">
            <div class="col-sm-4 description">
                <div class="text active">
                    <h4>Create what you need.</h4>
                    <p>Blablabla.</p>
                </div>
                <div class="text">
                    <h4>Publish created stuff.</h4>
                    <p>Blablabla.</p>
                </div>
                <div class="text">
                    <h4>Get money for published stuff.</h4>
                    <p>Blablabla.</p>
                </div>
            </div>

            <div class="col-sm-7 areas">
                <div class="circle active">
                    <img src="#">
                    <span>Create</span>
                </div>
                <div class="circle">
                    <img src="#">
                    <span>Publish</span>
                </div>
                <div class="circle last_circle">
                    <img src="#">
                    <span>Enrich!</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/scripts/vendor/jquery/flexslider.js" type="text/javascript"></script>
