<div id="loginModal" class="modal fade" role="dialog" ng-controller="LoginCtrl">
  <div class="modal-dialog">
  #{form @Auth.authenticate(), class:"form-horizontal", name:"loginForm", role:"form", novalidate:true }
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>&{'login.title'}</h3>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger" ng-show="errors">{{errors}}</div>

        <div
            class="form-group {{!loginForm.username.$dirty ? '' : loginForm.username.$valid ? 'has-success' : 'has-error'}}">
          <label class="col-sm-3 control-label" for="username">&{'login.label.username'}</label>

          <div class="col-sm-5">
            <input type="email" class="form-control" id="username" name="username" required
                   placeholder="&{'login.label.username.placeholder'}" ng-model="user.username">
          </div>
          <div class="col-sm-4" ng-show="loginForm.username.$dirty">
            <span class="control-label" ng-show="loginForm.username.$error.required">&{'validation.required'}!</span>
            <span class="control-label" ng-show="loginForm.username.$error.email">&{'validation.email'}!</span>
          </div>
        </div>

        <div
            class="form-group {{!loginForm.password.$dirty ? '' : loginForm.password.$valid ? 'has-success' : 'has-error'}}">
          <label class="col-sm-3 control-label" for="password">&{'login.label.password'}</label>

          <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="&{'login.label.password'}" ng-model="user.password"
                   password-strength required>
          </div>
          <div class="col-sm-4" ng-show="loginForm.password.$dirty">
            <span class="control-label" ng-show="loginForm.password.$error.required">&{'validation.required'}
              !</span>
              <span ng-class="pwdStrength" class="strength"
                    ng-show="!loginForm.password.$error.required">
                  &{'login.password.strength'} {{pwdStrength}}!
              </span>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-disabled="!loginForm.$dirty" ng-click="login()">
        &{'login.button.ok'}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">&{'login.button.cancel'}</button>
      </div>
    </div>
  #{/form}
  </div>
</div>
