<div id="loginModal" class="modal fade" role="dialog" ng-controller="LoginDialogCtrl">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>&{'login.title'}</h3>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger" ng-cloak ng-show="errors" ng-bind="errors"></div>
        #{include "auth/loginForm.html" /}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-disabled="!loginForm.$dirty || !loginForm.$valid" ng-click="login()">
        &{'login.button.ok'}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">&{'login.button.cancel'}</button>
      </div>
    </div>
  </div>
</div>
