#{extends 'mainTemplate.html' /}
#{set 'title'}&{'menu.login'}#{/set}

<div class="row" ng-controller="LoginCtrl">
  <div class="col-xs-2 col-sm-4"></div>
  <div class="col-xs-8 col-sm-4 well well-lg">
    <h3 class="text-center">&{'login.title'}</h3><br/>

    #{include "auth/loginForm.html" /}

    <div class="text-right">
      <button type="button" class="btn btn-primary" ng-disabled="!loginForm.$dirty || !loginForm.$valid" ng-click="login()">
        &{'button.login'}
      </button>
      <a type="button" class="btn btn-primary" href="@{Auth.signup()}">
        &{'button.register'}
      </a>
    </div>
  </div>
  <div class="col-xs-2 col-md-4"></div>
</div>