#{extends 'mainTemplate.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
    #{script 'vendor/jquery/jquery.countdown.min.js'/}
#{/set}

<div id="coming_soon" ng-controller="CountDownCtrl">
    <div class="head">
        <div class="container">
            <div class="col-sm-6 text">
                <h4>We are launching very soon</h4>
                <p>
                    We are currently working on an awesome new site. <span>STAY TUNED!</span>
                    <br>
                    Please don´t  forget to check out our tweets and subscribe to be notified.</p>
            </div>

            <div class="col-sm-6 count" id="clock">
                <div class="pull-right">
                    <div class="box last">
                        <div class="circle">
                            <span id="days"></span>
                        </div>
                        <p>Days</p>
                    </div>
                    <div class="box">
                        <div class="circle">
                            <span id="hours"></span>
                        </div>
                        <p>Hours</p>
                    </div>
                    <div class="box">
                        <div class="circle">
                            <span id="minutes"></span>
                        </div>
                        <p>Minutes</p>
                    </div>
                    <div class="box">
                        <div class="circle">
                            <span id="seconds"></span>
                        </div>
                        <p>Seconds</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="email_wrapp">
        <div class="container">
            <div class="col-md-11 wrapp">
                <p><strong>Sign up here</strong> to be one of the first to know when it´s ready</p>
                <input type="text" placeholder="Email address..." class="form-control">
                <a ng-href="/#/" class="btn send">ok</a>
            </div>
        </div>
    </div>
</div>
