<footer id="footer">
    <div class="container">
        <div class="row info">
            <div class="col-sm-6 residence">
                <ul>
                    <li>Saint-Petersburg, Dummy address, Russia.</li>
                </ul>
            </div>
            <div class="col-sm-5 touch">
                <ul>
                    <li><strong>Phone:</strong> 1 234 567 8900</li>
                    <li><strong>Email:</strong><a ng-href="/#/"> info@jasonwrath.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                <div class="row copyright">
                    <div class="col-md-12">
                        © 2013 JasonWrath. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
