<div class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-href="/" class="navbar-brand"><strong>JASON WRATH</strong></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="/">HOME</a></li>
                <li><a ng-href="/about">ABOUT US</a></li>
                <li><a ng-href="/">CONTACT US</a></li>
              #{if connected}
                <li class="navbar-form">${connected.name.escape()}</li>
                <li><a ng-href="@@{Auth.logout()}">&{'menu.logout'}</a></li>
              #{/if}
              #{else}
                <li><a href="#" ng-click="openLoginDialog()">&{'menu.login'}</a><li>
              #{/else}
            </ul>
        </div>
    </div>
</div>
#{include "auth/loginDialog.html" /}
